
h1, h2 {
    border-bottom: 1px solid rgb(189, 189, 189);
    display: inline;
    font-size: 2em;
}
button, input[type=button] {
    -moz-border-radius: 3px;
    -moz-transition: none;
    -webkit-transition: none;
    background: #0370ea;
    background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
    background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: .8em;
    line-height: 1.3;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    font-size: 1.5em;
}
button:hover, input[type=button]:hover {
    background: rgb(9, 147, 240);

}

button:active, input[type=button]:active {

    background:  rgb(9, 118, 190);
}

button[disabled], input[type=button][disabled] {
    background: none;
    border: 1px solid rgb(187, 181, 181);
    color: gray;
    text-shadow: none;
}

strong {
    #color: rgb(204, 14, 14);
    color:red;
    font-family: inherit;
    font-weight: normal;
    margin:auto;
}

toolbar_text{

    color:white;
    font-family: inherit;
    font-weight: normal;
    margin:auto;
}

tr, td, th {
    width:80%;
    heigth:100%;
    padding: 1em 2em;
    margin:auto;
    text-align: center;
}
instant_tr {
    width:80%;
    margin:auto;
    text-align: center;
}
instant_username{
    color:orange;
    font-family: inherit;
    font-weight: normal;
    margin:auto;
}
li pre {
    margin: 0;
}

li h2 {
    color: red;
}

li li h2 {
    font-size: 1em;
    color: rgb(6, 101, 243);
}
pre a {
    text-decoration: underline;
}

blockquote.inline {
    margin: 1em;
    border-radius: 3px;
    box-shadow: 2px 2px rgb(182, 170, 170);
}

* {
    -webkit-user-select: none;
    font-family: Calibri;
    font-family:'Segoe UI Light', 'Segoe UI';
    font-size: 1.1em;
    font-weight: normal;
}
html {
    background: #eee;
}

body{
    font-size:14px;
    color:#666;
    text-align: center;
    font-family:"黑体";
}

.user_list{
    width:20%;
    height:95%;
    margin-left: 1em;
    margin-top: 1em;

    color:#666;
    padding:0;
    float:left;

}
.online_userlist{
    width:95%;
    heigth:95%;
    margin-left: 1em;
    margin-top: 1em;
    overflow-y:scroll;
}

ctrl_tools {
    Width:45px;
    height:45px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}
#conference_scene img {
    Width:48px;
    height:48px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}
#document_scene img {
    Width:48px;
    height:48px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}
#whiteboard_scene img {
    Width:48px;
    height:48px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}
#sharemail_scene img {
    Width:48px;
    height:48px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}
#chat_scene img {
    Width:48px;
    height:48px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}

#login_scene img {
    Width:48px;
    height:48px;
    margin-left: 0.5em;
    margin-top:0.5em;
    float:right;
}
.conference_dashboard {
    Width:99.8%;
    height:99.9%;
    padding:0;
    float:left;
    //background: #000000;
 }
.conference_desktop{
    width:86%;
    height:97%;
    margin: 0.5em;
    float:left;
   // background: green;
}

.conference_workspace {
    height:90%;
    width:98%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    text-align: center;
   // background: yellow;
}

.conference_toolbar {
    top:0px;
    left:0px;
    margin:0.5em;
    width: 98%;
    height: 45px;
    text-align: center;
    background:#808080;
}
.conference_userlist {
    width:12%;
    height:97%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color:#666;
    padding:0;
    float:left;
    overflow-y:scroll;
  //  background: red;
}

.conference_onlineusers {
    width:95%;
    heigth:95%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

input[type=text] {
    width: 98%;
    height: 98%
    -webkit-user-select: initial;
    border-top: 0;
    font: 400 14px/40px'light', inherit;
    letter-spacing: 1px;
    margin-left: 0em;
    margin-top: 0em;
}
#output {
    width:98%;
    height: 98%;
    border: 1px solid #CCCCCC;
    font: 400 12px/40px'light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: 0.5em;
    margin-top: 0.5em;
    overflow: scroll;
    color:yellow;
}
#text_ctrl img{
    position:absolute;
    left: 89%;
    top:1.5%;
    Width:40px;
    height:40px;
    z-index: 4;

}
.textchat {
    position:absolute;
    left: 60%;
    top:25%;
    Width:30%;
    height:70%;
    color:#666;
    z-index: 4;
    visibility: hidden;
}

.chatout_area {
    Width: 98%;
    height: 60%;
    margin-left: 0.5em;
    margin-top: 0.2em;
    color: #666;
    padding: 0;
}

.chatin_area {
    Width: 98%;
    height: 15%;
    margin-left: 0.5em;
    margin-top: 0.2em;
    padding: 0;
}
#output div {
}

section.name {
    float: left;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color:blue;
    width: 8em;
}
section.message {
    margin-left: 10em;
    overflow: hidden;
    padding-left: 1em;
    -webkit-user-select: initial;
}
.chat_dashboard {
    Width:15%;
    height:95%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color:#666;
    padding:0;
    float:left;

}

.conference_online {
    width:98%;
    height:20%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color:#666;
    background-color:#50cb60;
    padding:0;
    float:left;
}

#participant_list {
    height: 95%;
    width: 95%;
    margin-left: 0.5em;
    margin-top: 0.5em;

}
.expand_area {
    height:50%;
    width:98%;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

#conference_request {
    position:absolute;
    z-index: 1;
    left: 38%;
    top:40%;
    height:40%;
    width:45%;
    visibility: hidden;
    text-align: center;
}


#expandVideo {
    width:55%;
    margin-top: 0.5em;
    z-index: 2;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
/*文件显示*/
#filesShowFrame{
   // position: absolute;
    left: 0;
    top:0;
    min-width: 300px;
    height: 0;
    width:100%;
    visibility: hidden;
}
#whiteboard_area{
   height: 0;
    width:100%;
    visibility: hidden;
}
#fileContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
/*iframe*/
#fileViewer{
    width: 100%;
    height: 100%;
}
/*预览块*/
#previewContainer{
    position: relative;
    width: 100%;
}

/*所有预览*/
#previewItems{
    float:left;
    height:114px;
    padding-top:13px;
    padding-left: 20px;
    margin-right: 15px;
    position:relative;
    top:-127px;
    width:auto;
    overflow: hidden;

}
/*单个预览文件*/
#previewItems .previewItem{
    float:left;
    margin: 10px;
    display:block;
    width:144px;
    height:92px;

}

/*文件信息*/
#previewItems .previewItem .itemInfo{;
    width: 100%;
    height: 100%;
    background: beige;
}
#previewItems .previewItem .itemInfo p{
    float: none ;
    inline-height:33.3%;
    font-size:20px;
    height: 33.3%;
    text-align: center;
}
/*进度条背景*/
#progressBarBgr{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
/*进度条*/
#progressBar{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 20px;
    border: 10px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#progressBar .title{
    top: 5px;
    left: 5px;
}
#progressBar .progressContent{
    text-align: center;
}

/*隐藏form*/
#form1{
    display: none;
    width: 0;
    height: 0;
}
