.flyout-wrap .flyout > li:nth-of-type(1){
	transform:translateY(0px);
}
.flyout-wrap .flyout > li:nth-of-type(2){
	transform:translateY(1px);
}
.flyout-wrap .flyout > li:nth-of-type(3){
	transform:translateY(2px);
}
.flyout-wrap .flyout > li:nth-of-type(4){
	transform:translateY(3px);
}
.flyout-wrap .flyout > li:nth-of-type(5){
	transform:translateY(4px);
}

.flyout-wrap .flyout-init li {
	display: none;
}
.flyout-wrap .flyout li a{
	animation: contract 0.35s ease-out 1 backwards;
}
.flyout-wrap .flyout.expend li a{
	animation: expand .6s ease 1 backwards;
}
.flyout-wrap .flyout.fade li a.clicked {
  top: 10px;
  animation: clicked 0.5s ease-out 1 forwards;
}
.flyout-wrap .flyout.fade li a:not(.clicked) {
  top: 10px;
  animation: fade 0.5s ease-out 1 forwards;
}
.flyout-wrap .flyout.fade li a:not(.clicked) i {
  opacity: .1;
  transition: opacity .5s ease;
}
.flyout-wrap .flyout li:nth-of-type(1) a {
  animation-delay: 0.2s;
}
.flyout-wrap .flyout li:nth-of-type(1) a:not(.clicked) i {
  animation: spin1-contract .9s ease-out 1 backwards;
}
.flyout-wrap .flyout.expand li:nth-of-type(1) a {
  animation-delay: 0s;
}
.flyout-wrap .flyout.expand li:nth-of-type(1) a i {
  transform: translateY(0px);
  animation: spin1-expand .6s ease-out 1 backwards;
}
.flyout-wrap .flyout.fade li:nth-of-type(1) a.clicked i {
  transform: translateY(0px);
}
.flyout-wrap .flyout li:nth-of-type(2) a {
  animation-delay: 0.16s;
}
.flyout-wrap .flyout li:nth-of-type(2) a:not(.clicked) i {
  animation: spin2-contract .9s ease-out 1 backwards;
}
.flyout-wrap .flyout.expand li:nth-of-type(2) a {
  animation-delay: 0.04s;
}
.flyout-wrap .flyout.expand li:nth-of-type(2) a i {
  transform: translateY(-1px);
  animation: spin2-expand .6s ease-out 1 backwards;
}
.flyout-wrap .flyout.fade li:nth-of-type(2) a.clicked i {
  transform: translateY(-1px);
}
.flyout-wrap .flyout li:nth-of-type(3) a {
  animation-delay: 0.12s;
}
.flyout-wrap .flyout li:nth-of-type(3) a:not(.clicked) i {
  animation: spin3-contract .9s ease-out 1 backwards;
}
.flyout-wrap .flyout.expand li:nth-of-type(3) a {
  animation-delay: 0.08s;
}
.flyout-wrap .flyout.expand li:nth-of-type(3) a i {
  transform: translateY(-2px);
  animation: spin3-expand .6s ease-out 1 backwards;
}
.flyout-wrap .flyout.fade li:nth-of-type(3) a.clicked i {
  transform: translateY(-2px);
}
.flyout-wrap .flyout li:nth-of-type(4) a {
  animation-delay: 0.08s;
}
.flyout-wrap .flyout li:nth-of-type(4) a:not(.clicked) i {
  animation: spin4-contract .9s ease-out 1 backwards;
}
.flyout-wrap .flyout.expand li:nth-of-type(4) a {
  animation-delay: 0.12s;
}
.flyout-wrap .flyout.expand li:nth-of-type(4) a span {
  transform: translateY(-3px);
  animation: spin4-expand .6s ease-out 1 backwards;
}
.flyout-wrap .flyout.fade li:nth-of-type(4) a.clicked span {
  transform: translateY(-3px);
}
.flyout-wrap .flyout li:nth-of-type(5) a {
  animation-delay: 0.04s;
}
.flyout-wrap .flyout li:nth-of-type(5) a:not(.clicked) span {
  animation: spin5-contract .9s ease-out 1 backwards;
}
.flyout-wrap .flyout.expand li:nth-of-type(5) a {
  animation-delay: 0.16s;
}
.flyout-wrap .flyout.expand li:nth-of-type(5) a span {
  transform: translateY(-4px);
  animation: spin5-expand .6s ease-out 1 backwards;
}
.flyout-wrap .flyout.fade li:nth-of-type(5) a.clicked span {
  transform: translateY(-4px);
}
.ani-expand 0% {
  top: 150px;
}
.ani-expand 50% {
  top: -10px;
}
.ani-expand 70% {
  top: 15px;
}
.ani-expand 100% {
  top: 10px;
}
.ani-contract 0% {
  top: 10px;
}
.ani-contract 40% {
  top: -25px;
}
.ani-contract 100% {
  top: 150px;
}
.ani-clicked 0% {
  opacity: 1;
  transform: scale(1);
}
.ani-clicked 100% {
  opacity: 0;
  transform: scale(5);
}
@keyframes expand {
  0% {
    top: 150px;
  }
  50% {
    top: -10px;
  }
  70% {
    top: 15px;
  }
  100% {
    top: 10px;
  }
}
@keyframes contract {
  0% {
    top: 10px;
  }
  40% {
    top: -25px;
  }
  100% {
    top: 150px;
  }
}
@keyframes clicked {
  0% {
    transform: scale(1);
    opacity: 1;
    top: 10px;
  }
  90% {
    top: 10px;
  }
  99% {
    transform: scale(6);
    opacity: 0;
    top: 150px;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
    top: 10px;
  }
  90% {
    opacity: 0;
    top: 10px;
  }
  99% {
    transform: scale(0);
    top: 150px;
  }
  100% {
    transform: scale(0);
  }
}
.ani-spin1-expand 0% {
  transform: translateY(0);
}
.ani-spin1-expand 60% {
  transform: translateY(-1px);
}
.ani-spin1-expand 100% {
  transform: translateY(-1px);
}
.ani-spin2-expand 0% {
  transform: translateY(-2px);
}
.ani-spin2-expand 60% {
  transform: translateY(-2deg);
}
.ani-spin2-expand 100% {
  transform: translateY(-2deg);
}
.ani-spin3-expand 0% {
  transform: translateY(-3px);
}
.ani-spin3-expand 60% {
  transform: translateY(-3px);
}
.ani-spin3-expand 100% {
  transform: translateY(-3px);
}
.ani-spin4-expand 0% {
  transform: translateY(-4px);
}
.ani-spin4-expand 60% {
  transform: translateY(-4px);
}
.ani-spin4-expand 100% {
  transform: translateY(-4px);
}
.ani-spin5-expand 0% {
  transform: translateY(-5px);
}
.ani-spin5-expand 60% {
  transform: translateY(-5px);
}
.ani-spin5-expand 100% {
  transform: translateY(-5px);
}
/*.ani-spin6-expand 0% {
  transform: translateY(-90deg);
}
.ani-spin6-expand 60% {
  transform: translateY(-450deg);
}
.ani-spin6-expand 100% {
  transform: translateY(-450deg);
}*/
.ani-spin1-contract 0% {
  transform: translateY(0deg);
}
.ani-spin1-contract 50% {
  transform: translateY(360deg);
}
.ani-spin1-contract 100% {
  transform: translateY(360deg);
}
.ani-spin2-contract 0% {
  transform: translateY(-18deg);
}
.ani-spin2-contract 50% {
  transform: translateY(360deg);
}
.ani-spin2-contract 100% {
  transform: translateY(360deg);
}
.ani-spin3-contract 0% {
  transform: translateY(-36deg);
}
.ani-spin3-contract 50% {
  transform: translateY(360deg);
}
.ani-spin3-contract 100% {
  transform: translateY(360deg);
}
.ani-spin4-contract 0% {
  transform: translateY(-54deg);
}
.ani-spin4-contract 50% {
  transform: translateY(360deg);
}
.ani-spin4-contract 100% {
  transform: translateY(360deg);
}
.ani-spin5-contract 0% {
  transform: translateY(-72deg);
}
.ani-spin5-contract 50% {
  transform: translateY(360deg);
}
.ani-spin5-contract 100% {
  transform: translateY(360deg);
}
.ani-spin6-contract 0% {
  transform: translateY(-90deg);
}
.ani-spin6-contract 50% {
  transform: translateY(360deg);
}
.ani-spin6-contract 100% {
  transform: translateY(360deg);
}
@keyframes spin1-expand {
  0% {
    transform: translateY(0deg);
  }
  60% {
    transform: translateY(-360deg);
  }
  100% {
    transform: translateY(-360deg);
  }
}
@keyframes spin2-expand {
  0% {
    transform: translateY(-18deg);
  }
  60% {
    transform: translateY(-378deg);
  }
  100% {
    transform: translateY(-378deg);
  }
}
@keyframes spin3-expand {
  0% {
    transform: translateY(-36deg);
  }
  60% {
    transform: translateY(-396deg);
  }
  100% {
    transform: translateY(-396deg);
  }
}
@keyframes spin4-expand {
  0% {
    transform: translateY(-54deg);
  }
  60% {
    transform: translateY(-414deg);
  }
  100% {
    transform: translateY(-414deg);
  }
}
@keyframes spin5-expand {
  0% {
    transform: translateY(-72deg);
  }
  60% {
    transform: translateY(-432deg);
  }
  100% {
    transform: translateY(-432deg);
  }
}
@keyframes spin6-expand {
  0% {
    transform: translateY(-90deg);
  }
  60% {
    transform: translateY(-450deg);
  }
  100% {
    transform: translateY(-450deg);
  }
}
@keyframes spin1-contract {
  0% {
    transform: translateY(0deg);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateY(360deg);
  }
}
@keyframes spin2-contract {
  0% {
    transform: translateY(-18deg);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateY(360deg);
  }
}
@keyframes spin3-contract {
  0% {
    transform: translateY(-36deg);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateY(360deg);
  }
}
@keyframes spin4-contract {
  0% {
    transform: translateY(-54deg);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateY(360deg);
  }
}
@keyframes spin5-contract {
  0% {
    transform: translateY(-72deg);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateY(360deg);
  }
}
@keyframes spin6-contract {
  0% {
    transform: translateY(-90deg);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateY(360deg);
  }
}