<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width;initial-scale=1"/>
    <title>用户登录</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/material-fullpalette.min.css">
    <!-- <link rel="stylesheet" href="css/ripples.min.css"> -->
    <!-- <link rel="stylesheet" href="css/roboto.min.css"> -->
    <!-- <link rel="stylesheet" href="css/jquery.dropdown.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="sign-up-container">
    <div class="middle-sign-up">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center">EZ-CLOUD <br> MEETING</h3>
            </div>
            <div class="form-group">
            <form action="/signin.html" method="post" class="form-horizontal">
                <div class="content">
                    <h4 class="title text-center"><strong>用户登录</strong></h4>
                    <hr/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="mdi-social-person"></i></span>
                        <!--<% if (typeof(username)!=='undefined') { %>-->
                        <!--<input type="text" class="form-control" name="username" value="<%= username %>" placeholder="用户名"/>-->
                        <!--<% } else { %>-->
                        <input type="text" class="form-control" name="username" placeholder="用户名" required/>
                        <!--<% } %>-->
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="mdi-action-lock"></i></span>
                        <input type="password" class="form-control" size="30" placeholder="密码" required/>
                    </div>
                    <!-- <div class="col-lg-10"> -->
                    <div class="input-group togglebutton" style="margin-top:18px;">
                        <label><input type="checkbox"><span class="toggle" style="margin-left:50px"></span>记住我</label>
                    </div>
                    <!-- </div> -->
                    <br/>
                    <button class="btn btn-block btn-success btn-lg" type="submit">登录</button>

                    </div>
                </form>
                </div>
            </div>
        <div class="text-center out-links">
            <a href="index.html" style="color:#51515a"> &copy;2014-2015 EZ-Cloud</a>
        </div>
        </div>
    </div>
</body>
</html>