<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width;initial-scale=1"/>
    <title>用户注册</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/material-fullpalette.min.css">
    <!-- <link rel="stylesheet" href="css/ripples.min.css"> -->
    <!-- <link rel="stylesheet" href="css/roboto.min.css"> -->
    <!-- <link rel="stylesheet" href="css/jquery.dropdown.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="sign-up-container">
        <div class="middle-sign-up">
                <div class="block-flat">
                    <div class="header">
                        <h3 class="text-center">EZ-CLOUD <br> MEETING</h3>
                    </div>
                    <form action="/signup" method="post" class="form-horizontal">
                    <div class="content">
                        <h4 class="title text-center"><strong>用户注册</strong></h4>
                        <hr/>
                        <p class="text-center">已经注册，直接<a href="login.html">登录</a></p>
                        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="mdi-social-person"></i></span>
                <!--<% if(typeof(loginname)!=="undefined") { %>-->
                <!--<input type="text" class="form-control" name="loginname" id="loginname" placeholder="用户名" value="<%= loginname %>"/>-->
            <!--<% } else { %>-->
            <input type="text" name="loginname" id="loginname" class="form-control" value="" placeholder="用户名"/>
            <!--<% } %>-->
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="mdi-action-lock"></i></span>
            <input id="pw" type="password" class="form-control" size="30" placeholder="密码" required/>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="mdi-action-lock"></i></span>
            <input type="password" class="form-control" size="30" placeholder="确认密码" required/>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="mdi-communication-email"></i></span>
            <!-- <% if (typeof(email) !== "undefined") {%> -->
            <!-- <input type="text" id="email" class="form-control" size="30" placeholder="邮箱地址" value="<%= email %>" /> -->
            <!-- <% } else { %> -->
            <input type="text" id="email" class="form-control" size="30" placeholder="邮箱地址" />
            <!-- <% } %> -->
        </div>
        <div class="input-group" id="mailpass_ctrl" style="display: none">
            <span class="input-group-addon"><i class="mdi-action-https"></i></span>
            <!-- <% if(typeof(mailpass) !== "undefined") { %> -->
            <!-- <input type="password" class="form-control" id="mailpass" size="30" placeholder="发起会议需要邮箱密码" value="<%= mailpass %>" /> -->
            <!-- <% } else { %> -->
            <input type="password" class="form-control" id="mailpass" size="30" placeholder="发起会议需要邮箱密码" />
            <!-- <% } %> -->
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="mdi-action-turned-in"></i></span>
            <select id="role" name="role" onchange="conferenceRole(this.value)" class="form-control">会议权限
                <option value="join">可参与会议</option>
                <option value="originator">可发起会议</option>
                <option value="spectator">可旁观会议</option>
            </select>
        </div><br>
                    <button class="btn btn-block btn-success btn-lg" type="submit">注册</button>
                    </div>
                    </form>
        </div>
            <div class="text-center out-links">
                <a href="index.html" style="color:#51515a"> &copy;2014-2015 EZ-Cloud</a>
            </div>
    </div>
</div>
    <script src="js/jquery-1.11.0.min.js"></script>
<script>
    function conferenceRole(role) {
        var mailpass_div = document.getElementById("mailpass_ctrl");
        if(role == 'originator') {
            mailpass_div.style.display = '';
        }
        else
            mailpass_div.style.display = 'none';
    }
</script>
</body>
</html>